body {
  background: black;
}

img.cursor_img {
  z-index: 1;
  position: absolute;
  top: 42%;
  left: 91%;
  transform: translate(-50%, -50%) rotate(280deg);
  width: 10%;
  transition: 0.5s;
}

img.cursor_img:hover{
  filter: sepia(100%) drop-shadow(-5px 5px 5px white);
  width: 15%;
  transition: 2.5s;
}
div.Dh {
  z-index: 0;
  visibility: visible;
  padding: 3%;
  background: radial-gradient(white 5%,grey 35%,black 72%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p.Hello {
  font-size: 500%;
  font-weight: bold;
  transition: 0.5s;
}

p.Hello:hover {
  padding: 0.5em;
  transition: 1s;
  filter: drop-shadow(10px 10px 1px #75b975c4);
}

div.Dg {
  z-index: 1;
  visibility: hidden;
}
a.Github {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 250%;
  font-weight: bold;
}

div.DW {
  z-index: 2;
  visibility: hidden;
}
a.Website {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50%;
  color: #f2f2f2;
}
