div.Dh {
  z-index: 0;
  visibility: visible;
}
p.Hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500%;
  font-weight: bold;
}

div.Dg {
  z-index: 1;
  visibility: hidden;
}
a.Github {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.DW {
  z-index: 2;
  visibility: hidden;
}
a.Website {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}