body{
  background-color:  #000010;
}

h1{
  color: lightgray;
  font-size:  500%
}

h3{
  color: #b8cfc4;
  font-size: 250%;
  text-decoration-line: underline;
}

div.nf{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center
}

div.pussy{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.pussy img{
  width: auto;
  height: auto;
}