div.buycoffe{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.librepay{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.pp{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}