/* index */
body.ib{
  background:#222;
}

div.sw{
  position: absolute;
  top: 5%;
  left: 98%;
  transform: translate(-50%, -50%);
}

label.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
}

label.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

span.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: 0.1s;
  border-radius: 10px;
}

span.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 2px;
  bottom: 2px;
  background-color: #222;
  transition: 0.1s;
  border-radius: 8px;
}

input:checked + .slider {
  background-color: #a7ff00;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

img.cursor_img {
  z-index: 1;
  position: absolute;
  top: 42%;
  left: 91%;
  transform: translate(-50%, -50%) rotate(280deg);
  width: 10%;
  transition: 0.5s;
}

img.cursor_img:hover{
  filter: sepia(100%) drop-shadow(-5px 5px 5px white);
  width: 15%;
  transition: 2.5s;
}

img.chick{
  filter: invert(50%);
  width: 5%;
  position: absolute;
  top: 90%;
  left: 95%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

div.Dh {
  z-index: 0;
  visibility: visible;
  padding: 3%;
  background: radial-gradient(white 0.5%,#222 72%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p.Hello {
  font-size: 500%;
  font-weight: bold;
  transition: 0.5s;
}

p.Hello:hover {
  padding: 0.5em;
  transition: 1s;
  filter: drop-shadow(10px 10px 1px #75b975c4);
}

div.Dg {
  visibility: hidden;
  
}
a.Github {
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(-50%, -50%);
  font-size: 250%;
  color: white;
}

div.DW {
  visibility: hidden;
}
a.Repo {
  position: absolute;
  top: 95%;
  left: 5%;
  transform: translate(-50%, -50%);
  font-size: 250%;
  color: white;
}