body {
  margin: 0;
  background-color: #252525;
}

h1,h3,h5,summary{
  color: #9f9f9f;
  font-size: 200%;
}

p,ol{
  color: #8a8a8a;
  font-size: 150%;
}

.container-width{
  width:99%;
  max-width:98%;
  margin:0 auto;
}

div.cards{
  display:flex;
  padding:20px 0;
  display:flex;
  justify-content:space-around;
  flex-flow:wrap;
}

div.card{
  background-color: #323232;
  height:200px;
  width:250px;
  margin-bottom:30px;
  box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius:2px;
  transition:all 0.5s ease;
  font-weight:100;
  overflow:hidden;
}

div.card:hover{
  margin-top:-5px;
  box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

div.card-header{
  margin-top: 5%;
  text-align: center;
  height:50%;
  color: #c2c2a5;
  font-size: 200%;
  font-weight: bold;
}

div.card-title{
  font-size: 150%;
  text-align: center;
  color: #f5fae9;
}

div.card-title a{
  color: white;
}

div.entry{
  margin: 5px;
}
