/* index of Hardware */
body.hibody{
  margin: 0;
  background-color: #252525;
}

div.container-width{
  width:99%;
  max-width:98%;
  margin:0 auto;
}

div.cards{
  display:flex;
  padding:20px 0;
  display:flex;
  justify-content:space-around;
  flex-flow:wrap;
}

div.card{
  background-color: #323232;
  height:300px;
  width:250px;
  margin-bottom:30px;
  box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition:all 0.5s ease;
  font-weight:100;
  overflow:hidden;
}

div.card:hover{
  margin-top:-5px;
  box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

div.card-header{
  margin-top: 5%;
  text-align: center;
  height: 35px;
  color: #c2c2a5;
  font-size: 150%;
  font-weight: bold;
}

div.card-img{
  padding-left: 25px;
}

div.card-img img{
  width: 200px; 
  height: 200px;
}

div.card-title{
  margin-top: 10px;
  font-size: 150%;
  text-align: center;
  color: #f5fae9;
}

div.card-title a{
  color: white;
}

/*555timer*/
div.squartimer img{
	width: 50%;
	height: auto;
}

div.squartimer p{
	font-size: 112.5%
}

.dis{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 0%;
  opacity: 0;
  box-shadow: 0px 0px 10000px 10000px #000000f0;
  background-color: #ffffffae;
}

.sourcebg{
  width: 25%;
}

/* DSO150 */
/* CD-1257 LED-Matrix */
body.Dso,body.Matrix img{
  width: 25%;
  height: auto;
}

/* all */
summary{
	font-size: 2em;
	font-weight: bold;
}
