html,body{
    background-color: #1a1a1a;
    margin: 0;
}

div.back{
    width: 100%;
    background-color: #1a1a1a;
    display:flex;
    justify-content:space-evenly;
    padding: 20px 0;
}

div.divclick{
    border-radius: 10px;
    width: 49%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D201D;
    box-shadow:0 5px 1px 0 #151515;
}

div.divclick:hover{
    box-shadow:0 7px 1px 0 #101010 inset;
    cursor: pointer;
}
div.divclick:hover a{
    transform: translateY(2px);
}

div.divclick a{
    font-weight: bolder;
    font-size: 150%;
    color: #12b911;
    margin: 10px;
    text-decoration: none;
}
