html,body{
  padding: 0;
  margin: 0;
}

img.backimg{
  z-index: -1;
  width: 100%;
  height: 100%;
}

div.card{
  border-radius: 25px;
  min-height: 100px;
  height: 80%;
  min-width: 200px;
  width: 80%;
  
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  flex-flow: wrap;
}

div.menu{
  width: 25%;
  height: 100%;
}

input.tab{
  width: 100%;
  height: calc(100%/6);
  border-radius: 15px 0px 0px 15px;
  background-color: #00c0c0;
  border-style: solid;
  border-width: 3px 1px 3px 3px;
  border-color: #000;
  font-size: 150%;
  font-weight: bold;
  box-shadow: 0px 0px 10px 5px #000 inset;
  opacity:1;
  transition: opacity 0.25s linear;
}

div.topic{
  height: 100%;
  left:25%;
  width: 75%;
}

div.part{
  border-radius: 0px 25px 25px 0px;
  position: absolute;
  visibility: hidden;
  box-shadow: 0px 0px 10px 2.5px #fff inset;
}

/* content of part from cards */
div.my{
  background-color: #0A0B0A;
  width: 75%;
  height: 100%;
  
}
div.my p{
  color: green;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 250%;
  font-weight: bold;
}

/*div.my img{
  height: 100px;
  position: absolute;
  border-radius: 50%;
}*/
div.music{
  background:#20a4f3;
  width: 75%;
  height: 100%;
}

div.music a{
  position: relative;
  top: 37%;
  left: 37%;
  font-size: 250%;
  font-weight: bold;
  color: white;
}

div.weeb{
  background:#ff7e29;
  width: 75%;
  height: 100%;
}

div.weeb a{
  color: black;
  position: relative;
  top: 40%;
  left: 40%;
  font-size: 250%;
  font-weight: bold;
}

div.ctf{
  background-color: black;
  width: 75%;
  height: 100%;
}

div.ctf a{
  color: #fff;
  position: relative;
  top: 40%;
  left: 40%;
  font-size: 250%;
  font-weight: bold;
}

div.hardware{
  background-color: black;
  width: 75%;
  height: 100%;
}

div.hardware a{
  color: #fff;
  position: relative;
  top: 40%;
  left: 40%;
  font-size: 250%;
  font-weight: bold;
}

div.support{
  background-color: black;
  width: 75%;
  height: 100%;
}

div.support a{
  color: #fff;
  position: relative;
  top: 40%;
  left: 40%;
  font-size: 250%;
  font-weight: bold;
}
