html,body{
  background-color:  black;
  padding: 0;
  margin: 0;
}

div:not(.topic):not(.blur){
  width: 50%;
  height: 50%;
  float: left;
}

div.my{
  background-color: #0A0B0A;
  position: relative;
  transition: 0.5s;
}

div.my:hover{
  border-radius: 100px 50px 0px 50px;
  transition: 2.5s;
}

div.my p{
  color: green;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 250%;
  font-weight: bold;
}

div.music{
  background:#20a4f3;
  position: relative;
  transition: 0.5s;
}

div.music:hover{
  border-radius: 50px 100px 50px 0px;
  transition: 2.5s;
}

div.music a{
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 250%;
  font-weight: bold;
  color: white;
}

a.yt{
  top: 30%;
  left: 45%;
}

a.sf{
  top: 50%;
  left: 45%;
}

div.blur{
  position: relative;
  background:#ff7e29;
  height: 100%;
  transition: 0.5s;
}

div.blur:hover{
  border-radius: 50px 0px 50px 100px;
  transition: 2.5s;
}

div.MA{
  position: relative;
}

div.MA a{
  color: black;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 250%;
  font-weight: bold;
}

a.anime{
  top: 60%;
  left: 45%;
}

a.manga{
  top: 40%;
  left: 45%;
}

div.work{
  background:#FEF3D7;
  position: relative;
  transition: 0.5s;
}

div.work:hover{
  border-radius: 0px 50px 100px 50px;
  transition: 2.5s;
}

div.work p{
  position: absolute;
  margin: 10;
  font-size: 300%;
  font-weight: bold;
}

div.work iframe{
  position: absolute;
  margin: 8%;
  width: 90%;
  height: 70%;
  border: 5px solid black;
}
