html,body {
  background-color:  black;
  padding: 0;
  margin: 0;
}

div:not(.topic) {
  width: 50%;
  height: 50%;
  float: left;
}

div.my {
  background-color: yellow;
  position: relative;
  transition: 0.5s;
}

div.my:hover{
  border-radius: 100px 50px 0px 50px;
  transition: 2.5s;
}

div.music {
  background:blue;
  position: relative;
  transition: 0.5s;
}

div.music:hover{
  border-radius: 50px 100px 50px 0px;
  transition: 2.5s;
}

div.MA {
  background:green;
  position: relative;
  transition: 0.5s;
}

div.MA:hover{
  border-radius: 50px 0px 50px 100px;
  transition: 2.5s;
}

div.work {
  background:red;
  position: relative;
  transition: 0.5s;
}

div.work:hover {
  border-radius: 0px 50px 100px 50px;
  transition: 2.5s;
}

div.my p {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 250%;
  font-weight: bold;
}

div.music p {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 250%;
  font-weight: bold;
}

div.MA p {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 250%;
  font-weight: bold;
}

div.work p {
  position: absolute;
  margin: 5;
  font-size: 200%;
  font-weight: bold;
}
div.work iframe {
  position: absolute;
  margin: 5%;
  width: 90%;
  height: 80%;
  border: 5px solid black;
}
