/* manga */
body.mh,body.ah{
  background-color: #101414;
}
div.mangas,div.Anime{
  padding: 5px;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

div.manga,div.serie {
  width: 200px;
  height: 190px;
  border-color: lightblue;
  border-width: 2.5px;
  border-style: dashed;
  border-radius: 25px;
  display: inline-block;
  margin: 2.5px;
}

div.manga,div.serie:not(div.fin):not(div.run){
  box-shadow: 0px 0px 10px 5px #ffffff50 inset;
}

div.fin{
  background-color: #00ff0020;
  box-shadow: 0px 0px 25px 10px #00ff0050 inset;
}

div.run{
  background-color: #ff000020;
  box-shadow: 0px 0px 15px 10px #ff000050 inset;
}

div.im{

  text-align: center;
}
div.title{
  padding-top: 10px;
  font-size: 150%;
  height: 65%;
  color: #fff;
}
div.vol{
  font-size: 137.5%;
  height: 15%;
  color: lightgreen;
}
div.pub{
  font-size: 125%;
  height: 15%;
  color: yellow;
}

/* jp */
p.cj{
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500%;
}
body.ib:hover{
  background-color: #00150f;
  color: #fffffffa;
  transition: 2s;
}
