/* manga */
body.mh{
  background-color: #001600;
}
div.manga {
  width: 100px;
  height: 110px;
  padding: 10px;
  border: 1px solid white;
  display: inline-block;
  margin: 5px;
}

div.title,div.vol{
  white-space: normal;
  text-align: center;
  height: 100px;
  color: white;
}

/* Anime */
div.anime div {
  width: 100px;
  height: 200px;
  padding: 10px;
  border: 2.5px solid black;
  display: inline-block;
  margin: auto;
}

div.anime div p{
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* jp */
p.cj{
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500%;
}
body.ib:hover{
  background-color: #00150f;
  color: #fffffffa;
  transition: 2s;
}
