/* manga */
body.mh{
  background-color: #101414;
}
div.manga {
  width: 100px;
  height: 120px;
  padding: 10px;
  border: 1px dashed lightblue;
  border-radius: 25px;
  display: inline-block;
  margin: 5px;
}

div.im{
  text-align: center;
}
div.title{
  height: 80px;
  color: white;/*
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}
div.vol{
  height: 30px;
  color: lightgreen;
}
div.pub{
  height: 10px;
  color: yellow;
}

/* Anime */
div.anime div {
  width: 100px;
  height: 200px;
  padding: 10px;
  border: 2.5px solid black;
  display: inline-block;
  margin: auto;
}

div.anime div p{
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* jp */
p.cj{
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500%;
}
body.ib:hover{
  background-color: #00150f;
  color: #fffffffa;
  transition: 2s;
}
